<h1>Outfit Match</h1>
<p>Match items to other items for complete outfits so that you look 100% put together.</p>

<div id='outfit-left'>
  <div id='selected-product'>
    <%= render 'product_info', :product => @product %>
    
    <%= link_to 'Return to item', @product%>
    <%= link_to 'Save to my closet', closet_items_path('closet_item[:product]' => @product), :method => :post %>
  </div>
  
  <div id='products-owned'>
    <% @outfit.products.each do |product| %>
      <% if @user.purchased_products.include? product %>
        <%= render 'product_info', :product => product %>
        <%= link_to 'Buy another one?', product %>
      <% end %>
    <% end %>
  </div>

  <%= button_to 'Go back', :back %>
</div>

<div id='outfit-right'>
  <div id='outfit-images'>
    <% @outfit.images.each do |image| %>
      <%= image_tag image.url(:normal) %>
    <% end %>
    <p><%= @outfit.title %></p>
    <p><%= @outfit.description %></p>
  </div>
  
  <div id='outfit-to-purchase'>
    <% @outfit.products.each do |product| %>
      <% unless @user.purchased_products.include? product %>
        <%= render 'product_info', :product => product %>
        
        <div id="cart-form" data-hook="cart_form">
          <%= render 'cart_form' %>
        </div>
        
        <%= render 'shared/add_to_closet', :product => product %>
      <% end %>
    <% end %>
  </div>
</div>