<div id="fb-share">
	<span class='st_facebook_hcount' displayText='Facebook' st_url='http://combatgent.com<%=closet_user_path(@user)  %>' st_title='Clothes I want from Combat Gent'></span>
	<span class='st_twitter_hcount' displayText='Tweet' st_url='http://combatgent.com<%=closet_user_path(@user)  %>' st_title='Clothes I want from Combat Gent'></span>
	<!-- <span class='st_pinterest_hcount' displayText='Pinterest' st_url='http://combatgent.com<%=closet_user_path(@user)  %>' st_title='Clothes I want from Combat Gent'></span> -->
	<!-- <span class='st_email_hcount' displayText='Email'></span> -->	
</div>
<% if @user.products_in_closet.any? %>
<table id="closet-detail">
  <thead>
    <tr>
				<th class="thumbnail"></th>
        <th class="info">Item</th>
        <th class="price">Price</th>
        <th class="size">Size</th>
        <th class="buy">Buy</th>
        <th class="match">Match</th>
				<th class="remove"></th>
    </tr>
  </thead>
  <tbody id="line_items">
    <% @user.products_in_closet.each do |product| %>
      <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
				<tr id="product_<%= product.id %>" data-hook="products_list_item" class="product">
					<td class="thumbnail">
	          <%= link_to  product, :class => 'product_link' do %>
	            <%= product_image(product) %>
						<% end %>
					</td>
					<td class="info">
						<h4>
							<%= link_to  product, :class => 'product_link' do %><%= product.name %><% end %>
						</h4>
						<%= product.description %>
					</td>
					
					<% if product.coming_soon? %>
            <td colspan=3><p>Coming Soon</p></td>
          <% else %>
            <%= render 'closet_cart_form', :product => product %>
          <% end %>
          
					<td class="match">
          	  <%= render 'shared/match_to_outfit', :product => product %>
					</td>
					<% if @users_own_closet %>
  					<td class="remove">
  						<%= button_to "", @user.closet_item(product), :method => 'delete', :class => 'delete' %>
  					</td>
  				<% else %>
  				  <td></td>
  				<% end %>
        </tr>
      <% end %>
    <% end %>
	</tbody>
	</table>
<% else %>
  <p>No products in your closet.</p>
<% end %>