<p>My closet</p>

<% @user.products_in_closet.each do |product| %>
  <p><%= product.name %><p>
  <p><%= product.description %></p>
<% end %>

<% if @user.products_in_closet.any? %>
  <ul class="product-listing">
    <% @user.products_in_closet.each do |product| %>
      <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
        <li id="product_<%= product.id %>" data-hook="products_list_item" class="product">
          <%= link_to  product, :class => 'product_link' do %>
            <%= product_image(product) %>
            <div class='info'>
              <h2><%= product.name %></h2>
              <span class='price selling'><%= product_price(product) %></span>
              <% unless product.categorise_variants_from_option('color').size == 0%>
                <p><%= product.categorise_variants_from_option('color').size %> colors available</p>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No products in your closet.</p>
<% end %>