<div id="toolbar">
  <ul>
    <li class="social facebook"><%= link_to 'Facebook', 'http://www.facebook.com/combatgent' %></li>
    <li class="social twitter"><%= link_to 'Twitter', 'http://twitter.com/combatgent' %></li>
    <li class="social blog"><%= link_to 'Blog', 'http://blog.combatgent.com' %></li>
    <li class="social feedback"><%= link_to 'Feedback', 'mailto:feedback@combatgent.com' %></li>	
    <li class="social service"><span>24/7 Customer Service 1-866-966-5436</span></li>
		<li class="action cart"><%= link_to_cart %></li>
		<% if current_user %>
		<li class="action profile">
			<%= link_to t('my_account'), account_path %>
			<ul>
		  	<li><%= link_to t('my_closet'), my_closet_path %></li>
		  	<li><%= link_to t('logout'), destroy_user_session_path %></li>
			</ul>
		</li>
		<% else %>
		<li>
			<li class="action profile">
				<%= link_to t('log_in'), login_path %>	
				<ul>
		  		<li><%= link_to 'SignUp', '/signup' %></li>
				</ul>
			</li>
		<% end %>
  <ul>
</div>

