<div id='toolbar'>
  <ul>
    <li>24/7 Customer Service 1-800-123-456</li>
    <li id='social'>
      <%= link_to 'Facebook', '#' %>
      <%= link_to 'Twitter', '#' %>
      <%= link_to 'Blog', '#' %>
      <%= link_to 'Feedback', '#' %>
    </li>
    <li class='last'><%= link_to 'Mailing List Signup', '#'%></li>
  <ul>
</div>