<ul>
  <li class="about"><%= link_to 'About', page_path('about') %></li>
  <li class="faq"><%= link_to 'FAQ', '#' %></li>
  <li class="returns_exchanges"><%= link_to 'Returns & Exchanges', '#' %></li>
  <li class="perfect_fit"><%= link_to 'The Perfect Fit', '#' %></li>
  <li class="help"><%= link_to 'Help', '#' %></li>
  <li class="contact_us"><%= link_to 'Contact Us', '#' %></li>
	<li class="copyright">&copy; 2011 Combat Gent. All rights reserved.</li>
</ul>