<nav>
  <%= link_to 'About', '#' %>
  <%= link_to 'FAQ', '#' %>
  <%= link_to 'Returns & Exchanges', '#' %>
  <%= link_to 'The Perfect Fit', '#' %>
  <%= link_to 'Help', '#' %>
  <%= link_to 'Contact Us', '#' %>
</nav>
<span class='copyright'>&copy; 2011 Combat Gent. All rights reserved.</span>