<ul>
  <li class="about"><%= link_to 'About', page_path('about') %></li>
  <!-- <li class="faq"><%= link_to 'FAQ', page_path('faq') %></li> -->
  <li class="perfect_fit"><%= link_to 'The Perfect Fit', page_path('the-perfect-fit') %></li>
  <!-- <li class="help"><%= link_to 'Help', page_path('help') %></li> -->
  <li class="returns_exchanges"><%= link_to 'Returns & Exchanges', page_path('returns-exchanges') %></li>
  <li class="terms_conditions"><%= link_to 'Terms & Conditions', page_path('terms-and-conditions') %></li>
  <li class="contact_us"><%= link_to 'Contact Us', page_path('contact') %></li>
	<li class="copyright">&copy; 2012 Combat Gent. All rights reserved.</li>
</ul>