<%= render :partial => 'admin/shared/outfit_tabs', :locals => {:current => "Images"} %>

<table class="index sortable">
  <tr>
    <th><%= t("thumbnail") %></th>
    <th><%= t("alt_text") %></th>
    <th><%= t("action") %></th>
  </tr>

  <% @outfit.outfit_images.each do |outfit_image| %>
    <tr id="<%= dom_id(outfit_image) %>">
      <td>
        <span class="handle"></span>
        <%= link_to(image_tag(outfit_image.attachment.url(:mini)), outfit_image.attachment.url(:product)) %>
      </td>
      <td><%= outfit_image.alt %></td>
      <td class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_outfit_outfit_image_url(@outfit, outfit_image), :class => 'edit') %>
        &nbsp;
        <%= link_to_delete outfit_image, {:url => admin_outfit_outfit_image_url(@outfit, outfit_image) }%>
      </td>
    </tr>
  <% end %>
</table>

<div id="images"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_image"), new_admin_outfit_outfit_image_url(@outfit), :id => "new_image_link" %>
</p>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>