<section id="features">
  <%= link_to('/products/CG-LCSH017') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'test-product-1.jpg' %>
    <h3>Checks Light Blue</h3>
    <p class="description">Ever feel the need to blow the socks of a presentation?</p>
    <span class="price">$22.99</span>
  <% end %>
  <%= link_to('/products/CG-LCSH025') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'test-product-2.jpg' %>
    <h3>Merger Purple &amp; White</h3>
    <p class="description">Not too slim, but just enough extra room.</p>
    <span class="price">$22.99</span>
  <% end %>
  <%= link_to('/products/CG-LCSU007', :class => 'last') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'test-product-3.jpg' %>
    <h3>Wide Eye</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <span class="price">$10.00</span>
  <% end %>
</section>