<section id="features">
  <%= link_to('/products/red-and-navy-stripe-bow-tie') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'homepage/red-bowtie-square.jpg' %>
    <h3>Red &amp; Navy Stripe Bowtie</h3>
    <p class="description">A butterfly bow tie to get you looking like a boss.</p>
    <span class="price">$22.99</span>
  <% end %>
  <%= link_to('/products/CG-LCSH025') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'test-product-2.jpg' %>
    <h3>Merger Purple &amp; White</h3>
    <p class="description">Not too slim, but just enough extra room.</p>
    <span class="price">$22.99</span>
  <% end %>
  <%= link_to('/products/madras-mix-light-yellow-and-blue', :class => 'last') do %>
    <h2>Featured Item</h2>
    <%= image_tag 'homepage/madras-tie.jpg' %>
    <h3>Light Yellow &amp; Blue Necktie</h3>
    <p class="description">Handmade with the intention of enduring repeat wears.</p>
    <span class="price">$18.99</span>
  <% end %>
</section>