<% @body_id = 'product-details' %>

<h1 id="product-title"><%= accurate_title %></h1>
<div id="product-images" data-hook="product_images">
	<%= render 'fullsize', :product => @product %>
</div>

<div id="product-description" data-hook="product_description">
	<%= product_description(@product) rescue t("product_has_no_description") %>	
  <div data-hook="product_properties">
    <%= render 'properties' %>
  </div>

</div>

<div id="cart-form" data-hook="cart_form">
  <%= render 'cart_form' %>

	<div id="add-to-closet-form">
	  <%= render 'shared/add_to_closet', :product => @product %>
	</div>

	<div id="match-to-outfit">
	  <%= render 'shared/match_to_outfit', :product => @product %>
	</div>
</div>


<% # = render 'taxons' %>

<div id="product-thumbnails">
  <%= render 'thumbnails', :product => @product %>
</div>


<% if @product.outfit.present? %>
  <div id='related-products'>
    <% if @product.outfit.products.reject{|p| p == @product}.size > 0 %>
      <h2>This will look great with:</h2>
    <% end %>
    <% @product.outfit.products.each do |product| %>
		
      <% unless @product == product %>
			<div class="outfit-item">
        <%= link_to(product_url(product)) do %>
          <p><%= product.name %></p>
          <%= image_tag product.images.first.attachment.url(:small) %>
        <% end %>
			</div>
      <% end %>
    <% end %>
  </div>
<% end %>