<% @body_id = 'product-details' %>

<h1 id="product-title"><%= accurate_title %></h1>
<div id="product-images" data-hook="product_images">
	<%= render 'fullsize', :product => @product %>
	<span class="zoom-tip">Click image to zoom</span>
</div>

<div id="product-description" data-hook="product_description">
	<div id="social-links">
		<span class='st_facebook_hcount' displayText='Facebook'></span>
	</div>	
	<%= product_description(@product) rescue t("product_has_no_description") %>	
  <div data-hook="product_properties">
    <%= render 'properties' %>
  </div>
	
	<div id="coming-soon">
	<% if @product.coming_soon? %>
		<h2>Coming Soon</h2>
		<p>Please check back shortly to purchase this product.</p>
	<% end %>
	</div>

</div>

<% if !@product.coming_soon? %>
<div id="cart-form" data-hook="cart_form">
  <%= render 'cart_form' %>

	<div id="add-to-closet-form">
	  <%= render 'shared/add_to_closet', :product => @product %>
	</div>

	<div id="match-to-outfit">
	  <%= render 'shared/match_to_outfit', :product => @product %>
	</div>
</div>
<% end %>


<% # = render 'taxons' %>

<% if !@product.coming_soon? %>
	<% if @product.fit.present? and @product.images.size > 1 %>
	<ul id="toggle-product-info">
		<li>
			<a href="#" id="toggle-images" class="current">Images</a>
		</li>
		<li class="pipe">|</li>
		<li>
			<a href="#" id="toggle-fit">Fit</a>
		</li>
	</ul>
	<% end %>
<% end %>	


<div id="product-thumbnails">
  <%= render 'thumbnails', :product => @product %>
</div>

<% if !@product.coming_soon? %>
	<% if @product.fit.present? %>
	  <div id="product-fit" <% if @product.images.size > 1 %> style="display: none;" <% end %>>
	    <h2><%= @product.fit.title %></h2>
	    <p class='description'><%= @product.fit.description %></p>
	  </div>
	<% end %>
	<% if @product.outfit.present? %>
	  <div id='related-products'>
	    <% if @product.outfit.products.reject{|p| p == @product || @product.has_same_taxon?(p)}.size > 0 %>
	      <h2>This will look great with:</h2>
	    <% end %>
	    <% @product.outfit.products.reject{|p| p == @product || @product.has_same_taxon?(p)}.each do |product| %>
				<div class="outfit-item">
	        <%= link_to(product_url(product)) do %>
	          <!-- <p><%= product.name %></p> -->
	          <%= image_tag product.images.first.attachment.url(:small) %>
	        <% end %>
				</div>
	    <% end %>
	  </div>
	<% end %>
<% end %>