<% @body_id = 'product-details' %>
<h1><%= accurate_title %></h1>

<div id="product-images" data-hook="product_images">
  <div id="main-image">
    <%= render 'image' %>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product %>
  </div>
</div>

<div id="product-description" data-hook="product_description">
  <%= product_description(@product) rescue t("product_has_no_description") %>
  <div data-hook="product_properties">
    <%= render 'properties' %>
  </div>
</div>

<div id="cart-form" data-hook="cart_form">
  <%= render 'cart_form' %>
</div>

<div id="add-to-closet-form">
  <%= render 'shared/add_to_closet', :product => @product %>
</div>

<div id="match-to-outfit">
  <%= button_to "Match to outfit", outfit_url(@product.outfit) if @product.outfit.present? %>
</div>

<%= render 'taxons' %>

<% if @product.outfit.present? %>
  <div id='related-products'>
    <% if @product.outfit.products.reject{|p| p == @product}.size > 0 %>
      <strong>You'll look good in these items too:</strong>
    <% end %>
    <% @product.outfit.products.each do |product| %>
      <% unless @product == product %>
        <%= image_tag product.images.first.attachment.url(:thumb) %>
        <%= link_to product.name, product_url(product) %>
      <% end %>
    <% end %>
  <div>
<% end %>