<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head data-hook="inside_head">
    <%= render :partial => 'shared/head'%>
    <%= render :partial =>'shared/styles'%>
    <% @body_class ||= content_for?(:sidebar) ? 'two-col' : 'one-col' %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28766841-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "bb3ab423-c810-430c-b25c-b76d65e727a0"}); </script>
  </head>
  <body  id="<%= @body_id %>">
		<%= render 'shared/header_toolbar' %>	
		<header>			
			<a href="/" id="logo_container">
				<%= image_tag "combatant-gentleman-logo-sprite.png", :id => "logo", :alt => "Combat Gent Logo" %>
				<%= image_tag "beta-flag.png", :id => "beta-flag" %>				
			</a>	
			<%= image_tag "quality-fit-value.png", :id => "tagline" %>
			<ul>
			<%= render 'shared/product_category_menu' %>
			<%= render 'shared/nav_bar' %>			
			</ul>
			<%= image_tag "gray-horizontal-line.png", :class => "hline" %>	
		</header>

    <div id="wrapper">
      <div id="content">
        <% #= breadcrumbs(@taxon) if @taxon %>
        <% if flash.notice %>
        <div class="flash notice"><%= flash.notice %></div>
        <% end %>
        <% if flash[:error] %>
        <div class="flash errors"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <footer>
			<%= render :partial => 'shared/expanded_footer' %>	
			<%= render :partial => 'shared/join_mailing_list' unless @suppress_mailing_list_footer %>
			<%= render :partial => 'shared/page_footer'%>
    </footer>
		<%= render :partial => 'shared/javascript_footer' %>
		<script type="text/javascript">
			$(document).ready(function() {
					$('#lookbook, #home_slideshow').codaSlider({
						crossLinking: 0,
						dynamicTabs: 0
					});
			});
		</script>
  </body>
</html>
